table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    width: 14%;
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
  }
  
  .highlight {
    background-color: #ff0; /* Destacar datas dos conteúdos */
  }
  
  .today {
    background-color: #0f0; /* Destacar o dia atual */
  }